body {
    background-image: url("images/background.jpg");
    margin: 1.5em 0;
}

h1 {
    margin: 0 auto;
    font-family: 'Sedgwick Ave Display';
    font-size: 3.75em;
    letter-spacing: -4px;
    color: rgb(4, 170, 4);
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 30px rgb(204, 1, 170);
    padding: .25em .5em;
    text-align: center;
}

.main {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

#end {
    display: none;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    font-size: 2em;
    text-align: center;
}

#end-textbox {
    padding-bottom: 1em;
	background-color: white;
	width: 100%;
	margin: 25% auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#end-textbox > p {
    padding: 1em;
}
.results {
    margin: 0 auto;
}

.game {
    display: none;
}

.instructions {
    margin: 0 auto;
    padding-bottom: .75em;
}

button {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.5em;
    padding: 14px 18px;
	background-color: rgb(105, 54, 173);
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	cursor: pointer; 
}
.start-page {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.stats {
    display: flex;
    justify-content: space-between;
    font-size: .75em;
}
.question {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.choices {
    margin: .25em;
}
h2 {
    margin: 0 auto;
    font-size: 1.5em;
    align-items: center;
}